.index {
	background-image: url('../img/galaxy.jpg');
	height: calc(100vh - 135px);
	background-size: cover;
	background-position: bottom;
}
.index h1 {
	font-size: 6em;
	color: white;
	margin: auto;
}
.index h2 {
	font-size: 2em;
	color: white;
	margin: auto;
}



.about {
	background-image: url('../img/about.jpeg');
	height: calc(100vh - 135px);
	background-size: cover;
	background-position: bottom;
}
.about h1 {
	font-size: 4em;
	color: white;
}
.about h2 {
	color: white;
	margin: 9em;
}

.contact {
	background-image: url('../img/where.jpg');
	height: calc(100vh - 135px);
	background-size: cover;
	background-position: bottom;
}
.contact h1 {
	font-size: 4em;
	color: white;
}
.contact h2 {
	color: white;
	margin: 9em;
}